+nav("Project", "dropdown_menu")
    +nav_item( "#/blobs" ) Home
    +nav_item( "blobs/new" ) New
    +nav_item( "contact.html" ) Contact
    +nav_item_dropdown( "#" )( label="Dropdown")
        +nav_item( "#" ) Action
        +nav_item( "#" ) Another action
        +nav_item( "#" ) Something else here
        +nav_divider
        +nav_header Nav header
        +nav_item( "#" ) Separated link
        +nav_item( "#" ) One more separated link 